.generic-content p {
  color: black;
}

table.pdb-signup {
  margin: 0 auto;
}

.pdb-thanks p {
  color: green;
}

.field-group-submit tr {
  text-align: center;
}

input {
  width: 100%;
}

/* "Liity" button */
.pdb-submit {
  height: 40px;
  background-color: $orange;
  margin: 20px;
  border-radius: 6px;
  border: none;

}

tr.text-line {
  color: black
}

/* Helper texts*/
th {
  padding-right: 10px;
}

/* input fields */
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

table {
  border-radius: 6px;
  background-color: #f2f2f2;
  padding: 20px;
}

/* input button hover */
input[type=submit]:hover {
  background-color: #FE8E43;
}

/* helptext "Etunimi Sukunimi" */
.helptext {
  color: gray;
}

/* text input fields */
#pdb-fullname-2, #pdb-email-2, #pdb-phone-2, #pdb-country-2{
  width: 300px;
}

.reqd {
  color: red;
}