.generic-content p {
  color: black;
}

table.pdb-signup {
  margin: 0 auto;
}

.pdb-thanks p,
.nf-response-msg p {
  color: green;
}

.field-group-submit tr {
  text-align: center;
}

/* "Liity" button */
.pdb-submit {
  height: 40px;
  background-color: $orange;
  margin: 20px;
  border-radius: 6px;
  border: none;
}

tr.text-line {
  color: black;
}

/* Helper texts*/
th {
  padding-right: 10px;
}

/* input fields */
input.regular-text,
select {
  width: 300px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

table {
  border-radius: 6px;
  background-color: #f2f2f2;
  padding: 20px;
  box-sizing: border-box;
  width: 100%;
  max-width: 450px;
}

@media screen and (max-width: 500px) {
  input.regular-text {
    width: 200px;
  }
}

@media screen and (max-width: 400px) {
  input.regular-text {
    width: 150px;
  }
}

@media screen and (max-width: 350px) {
  input.regular-text {
    width: 150px;
  }
  table {
    padding-left: 2px;
    padding-right: 2px;
  }
}

/* input button hover */
input[type="submit"]:hover {
  background-color: #fe8e43;
}

/* helptext "Etunimi Sukunimi" */
.helptext {
  color: gray;
}

.reqd {
  color: red;
}

/* Ota yhteyttä formi ja reissu formi */
.wpforms-form,
.nf-form-content {
  width: 90%;
  border-radius: 6px;
  background-color: #f2f2f2;
  padding: 20px !important;
  margin: 0 auto;
}

.wpforms-submit,
.ninja-forms-field[type="button"] {
  height: 40px !important;
  background-color: $orange !important;
  margin: 20px !important;
  border-radius: 6px !important;
  border: none !important;
  color: black !important;
}

.wpforms-submit:hover,
.ninja-forms-field[type="button"]:hover {
  background-color: #fe8e43 !important;
}

.nf-form-content input:not([type="button"]),
.nf-form-content textarea,
.nf-form-content .list-select-wrap .nf-field-element > div,
.checkbox-wrap .nf-field-label label:after {
  background-color: #fff !important;
}
