.site-footer {
  padding: 2rem 0 3.5rem 0;
  background-image: linear-gradient(#FFF, #ECECEC);
  

  /* sinioranssit@sinioranssit.fi */
  .footer-contact-us {
    padding-top: 3em;
  }

  .hero-slider-small-text {
    color: white !important;
  }

  p {
    font-size: .9rem;
  }

  .logo-footer {
    height: 190px;
    padding-bottom: 6%;
  }

  .headline {
    color: #666;
    margin-bottom: .33rem;
  }

  &__link {
    color: #999;
    text-decoration: none;
  }

  &__link:hover {
    color: $mainBlue;
    text-decoration: underline;
  }

  &__inner {
    border-top: 1px dotted #DEDEDE;
    padding-top: 3.5rem;
  }

  &__col-one {
    text-align: center;
    @mixin atMedium {
      text-align: left;
      width: 20%;
      float: left;
    }
  }

  &__col-two-three-group {
    text-align: center;
    width: 100%;
    margin: 0 auto;
    @mixin atMedium {
      padding-top: 1em;
      text-align: left;
      float: left;
      width: 50%; /*42% */
      margin: 0;
    }
  }

  &__col-two {
    width: 50%;
    float: left;
  }

  /* footer links div */
  &__col-three {
    width: 100%;
    float: left;
    text-align: center;
    padding-bottom: 1em;
  }

  /* Social media icons div */
  &__col-four {
    width: 100%;
    margin: 0 auto;
    clear: both;
    text-align: center;
    @mixin atMedium {
      padding-top: 0;
      margin: 0;
      clear: none;
      text-align: left;
      width: 25%;
      float: right;
    }
  }
}